.ExpenseItemWrapper {
    margin-block: 1.25rem;
    background-color: #4b4b4b;
    position: relative;
}

.RemoveExpense {
    position: absolute;
    right: -10px;
    top: -10px;
}

    .RemoveExpense button {
        border: 2px solid black;
        border-radius: 50%;
        font-size: 1.2rem;
    }

.ExpenseItem {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.ExpenseItem-Description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ExpenseItem-Amount {
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: #40005d;
    font-weight: bold;
}


@media(min-width: 500px){
    .ExpenseItem-Description{
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-between;
    }

    .ExpenseItem-Title {
        margin-left: 1rem;
        font-size: 1.2rem;
    }

    .ExpenseItem-Amount{
        font-size: 1.3rem;
    }
}