.LoginFormContainer {
    width: 100%;
    max-width: 450px;
    height: 70%;
    border-radius: 0.5rem;
    padding: 3rem 1.5rem;
    background-color: #fff;
}

.LoginForm{
    margin-bottom: 6rem;
}

.LoginForm-InputWrapper{
    margin-bottom: 2rem;
    border-bottom: 2px solid gray;
}

.LoginForm-InputWrapper:nth-of-type(2){
    margin-bottom: 4rem;
}

.LoginForm-InputWrapper label {
    display: block;
    margin-bottom: 0.5rem;
}

.LoginForm-InputWrapper input{
    border: none;
    width: 100%;
    font-size: 1rem;
}

    .LoginForm-InputWrapper input:focus{
        outline: none;
    }

.LoginForm-SubmitButton {
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding-block: 0.75rem;
    background-image: linear-gradient(to right, rgb(46,33,172), rgb(229,76,156));
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
}

.signupLink {
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
}
