.Month{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Month-Bar {
    width: 12px;
    height: 120px;
    margin-bottom: 0.25rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    background-color: rgba(78,76,201, 0.3);
    position: relative;
}

.Month-Bar:hover{
    cursor: pointer;
    transform: scale(1.07);
    box-shadow: 0 0 1px 1px;
}

.Month-Bar-Filled {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.Month-Name{
    font-size: 0.5rem;
    font-weight: bold;
}

@media(min-width: 500px){
    .Month-Name {
        font-size: 0.75rem;
    }
}